<h1>Login to Your Account</h1>

<%= form_for @user, url: "/login" do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit "Log In" %>
<% end %>
