

  <%= form_for @event, class: "ui form" do |f| %>
  <label>Sport:</label>
    <%= f.collection_select :sport_id, Sport.all, :id, :name %>
    <br>
    <label>Title:</label>
    <%= f.text_field :title %>
    <br>
    <label>Date:</label>
    <%= f.text_field :date %>
    <br>
    <label>Time:</label>
    <%= f.text_field :time %>
    <br>
    <label>Location</label>
    <%= f.text_field :location %>
    <br>
    <label>Duration:</label>
    <%= f.number_field :duration %>
    <br>
    <label>Player Count:</label>
    <%= f.number_field :player_count %>
    <br>
    <button class="ui blue basic button">Submit
    </button>
    <% end %>
